* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.con {
    max-width: 1280px;
    margin: auto;


}
.ai{
    align-items: center;
}
/* #logo{
    height:77px;
    display: inline;
} */

.top {
    /* width: 100%; */
    padding: 10px;
    text-align: center;
    background-color: darkgoldenrod;

}
/*add*/
.top .con .div{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.top .con .left i,
.top .con .left{
    margin-right: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;/*add*/
}

.left {

    width: 80%;
    padding: 5px;
    text-align: right;
    background-color: darkgoldenrod;

}

.center {
    
    padding: 10px;
}

.nav {
    /* max-width: 100%; */
    display: flex;
    align-items: center;
    padding: 23px 50px;
    /* gap: 70px;
    
    text-align: center; */
    
    
}
.nav li{
    margin: 0 15px;
}
.bod{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 4px;
}
#logo {

    height: auto;
    /* display: flex; */
    /* justify-content: space-between; */
    width: 150px;
    
}
.w-1{
    width: 205px;
    height: 118px;
}

.center {
    text-align: center;
    gap: 20px;
}
.button{
    padding: 10px 20px;
    background-color: orange;
    color:#fff;
    border:none;
    border-radius: 5px;
    cursor:pointer;

}
.button:hover{
    background-color: #c44e24;
}

/* .btn {
    background-color: orange;
    color: white;
    width: 100px;
    height: 50px;
    padding: 10px 2px;
    border-radius: 5px;
    align-items: center;
} */

.box1 {

    background-image: linear-gradient(#eacd82e1, rgba(20, 20, 20, 0.411)), url(https://www.dellaresorts.com/new-images/1new-camp-bnr5.jpg);
    /* width: 100%;
    height: 500px;
    color: white;
    text-align: left;
    padding: 150px 30px;
    gap: 10px;
    line-height: 30px; */
    background-size: cover;
    background-position: center;
    padding:100px 0;
    color:#fff;
    text-align: center;
    background-color: #ccc;
}
.box1 h1{
    font-size:2.5rem;
    margin-bottom: 20px;
}
.box1 .p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
/* .box1 .p{
    font-size: 1.1rem;
    margin-bottom: 20px;
} */
.box1 .btn{
    padding: 10px 20px;
    background-color: orange;
    color:#fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.box1 .btn:hover{
    background-color: #c44e24;
}

.box2 {
    background-image: linear-gradient(#eacd82e1, rgba(20, 20, 20, 0.411)), url(https://images.pexels.com/photos/261169/pexels-photo-261169.jpeg?cs=srgb&dl=pexels-pixabay-261169.jpg&fm=jpg);
    width: 100%;
    height: 300px;
    color: white;
    text-align: left;
    padding: 55px 30px;
    gap: 10px;
    line-height: 30px;
   

}

.para{
    text-align: center;
    padding:60px;
    margin:auto;
    width: 700px;
    height: 200px;
    line-height: 2;
}
span h1{
    margin:auto;
    color:rgb(96, 96, 236);
}
.fea{
    gap:20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
}
.feat{
    text-align: center;
    padding:20px;
}
.list{
    text-align: center;
    line-height: 3;
   
}
.button{
    background-color: #0b8ab8;
    color:white;
    width: 95px;
    height: 35px;
    border-radius: 3px;
    padding:6px 13px;
    margin-top: -7px;
    margin-left: 20%;
}


.grp{
    width:100%;
    height: 500px;
    box-sizing: border-box;
}
.para1{
    padding:21px;
    font-size: 20px;
   
}

.w-10{
    width:200px;
    height:200px
}
.box{
width: 600px;
height: 400px;
background-color: oldlace;
border-top: 2px gray;
/*
background-image: url(https://static.vecteezy.com/system/resources/thumbnails/020/804/109/small_2x/communication-and-technology-concept-hand-putting-wooden-block-cube-symbol-telephone-email-address-website-page-contact-us-or-e-mail-marketing-contact-us-in-customer-support-concept-photo.jpg);
}*/
}
.conn{
    font-size: 30px;
  margin-left: 12%;
 padding: 10px 10px;
 
  
}
.data{
    margin-left: 165px;
}
.form{
    align-items: center;
    display: grid;
    width: 200px;
    height: 100px;
    
}
.form input{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 19px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:250px;
}
.form button{
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    
    border-radius: 4px;
    
}
.box{
    box-shadow: 1px 0px 2px 2px rgb(231, 156, 16);
    margin-left: 40%;
    padding: 10px;
    width:570px;
    height: 350px;
}
.w-100{
    width: 441px;
    height: 237px;
    border-radius: 10px;
    gap: 10px;

}
.w-102{
    width:60%;
    display:grid;    height: 200px;
    padding: 20px 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 16px;
    
}
.w-106{
    width:60%;
    height: 250px;
    
}
.s{
    text-align: center;
}
.information{
    padding:50px 0;
}

.mid {
    /* padding: 20px;
    width: 100%;
    gap: 10px;
    margin: 2px; */
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    display:flex;

}
.home-image img{
    /* border-radius: 50%; */
    width:433px;
    height: 300px;
    /* object-fit: cover; */

}

/* .home-img{
    width:20%;

} */

.mid1 {
    /* width: 700px;
    height: 250px;
    border: 2px solid gray;
    line-height: 2;
    padding:10px;*/
    
    border:2px solid gray;
    border-radius: 12px; 
    width: 700px;
    height: 253px; 
    padding:10px;
    /* flex:2; */
}
.mid1 h2{
    font-size: 2rem;
    margin-bottom: 20px;
    /* display: flex; */
}
.mid1 p{
    font-size: 1.1rem;
    line-height: 1.5;
    display: flex;
}
.bn{
    text-align: center;
    margin-left:30px;
}
.picture{
   
    background-color: #fff;
}
.feebbox{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}
.box3{
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding:20px;
    text-align:center;
}
.box3 img{
    width: 169px;
    height:150px;
    border-radius:5px;
}
.h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.info{
border:1px solid gray;
width: 600px;
margin-left: 270px;
background: oldlace;
gap:10px;
}
.mid2{
    width: 115%;
    height: 240px;
    border: 2px solid gray;
    line-height: 1.7;
    padding: 20px 20px;
    text-align: left;
    align-items: center;
    margin:20px;
    border-radius: 10px;
    
}
.mid3{
    width: 115%;
    height: 222px;
    border: 2px solid gray;
    line-height: 1.7;
    padding: 20px;
   
    margin:10px;
    border-radius: 13px;
}
.gall{
    border-top: 1px solid gray;
    padding: 10px;
}
.h {
    /* padding: 10px; */
   margin: auto;
   text-align: center;
}



/* .w-10 {
    width: 200px;
    height: 150px;
    border-radius: 16px;
    padding: 5px 10px;
} */

.star {
    color: orange;
    margin: 10px 0;
    /* display: flex;
    padding: 2px 10px; */

}
.offer{
    text-align: center;
    background-color: lightsalmon;
    font-size: 30px;
}

.h2 {
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

:root {
    --brand: #B8860B;
    --primary: #21FCEA;
    --secondary: #A4C3DF;
}
.food{
    padding:10px;
    gap: 20px;
   margin-left:0%;
   margin-right: 20%;
}
.hall{
    padding:10px;
    gap: 20px;
}

.grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin: 50px;;
}
.grid3{
    display:grid;
    
}
.roomcat{
    padding:30px;
    font-size: 20px;
    border-radius: 10px;
    
}
.room1{
    width:100%;
    border-radius: 20px;
    margin:10px;  
}
.room2{
    width:100%;
   padding:10px 20px;
    margin:10px;
}
.service{
    width:100%;
    height:50%;
    
    display:inline-flex;
    padding: 5px 10px;
    gap:10px;
    line-height: 2;
}

main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.w-101{
    width:100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.879),rgba(255, 166, 0, 0.938));
}

.footer {
    background-color: var(--primary);
    /* width: 100%;
    height: 150px; */
    padding: 25px 0px;
    /* line-height: 30px; */
    /* text-align: center; */
    
    color:black;

}
.footer a{
    color:#0a0909;
    
}

.resort{
    
   width:80%;
   height: 50%;
  margin: auto;
  padding:10px 20px;
}
.room{
    background-image: linear-gradient(#eacd82e1, rgba(20, 20, 20, 0.411)), url(https://www.dellaresorts.com/new-images/1new-camp-bnr5.jpg);
}

/* .footer a {
    text-decoration: none;
    
} */

.footer-bottom {
    background-color: rgb(164, 195, 223);
    /* width: 100%; */
    color:#fff;
    /* padding:10px 0; */
    text-align: center;
}

.a {
    text-align: center;
    /* padding: 5px; */
    /* height: 50px; */
    box-sizing: border-box;
}

.b {
    text-align: center;
    /* padding: 5px; */
    /* height: 50px; */
    box-sizing: border-box;
}
.story{
    margin:20px;
    border-radius: 17px;
    height: 200px;
    float:left;
    padding: 1px 10px;
    border-radius: 10px;
    
}
.book1{
    font-size: 15px;
    padding:15px; 
    margin-bottom: 15px; 
}
.book1 label {
    display: block;
    margin-bottom: 5px;
}

.book1 input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.book2 {
    text-align: center;
}

.book2 .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
   margin-left: -54px;
   margin-right:130px;

}

.book2 .button:hover {
    background-color: #0056b3;
}
/* input{
    width:50%;
    height: 50px;
    box-sizing: border-box;
    border-radius: 3px;
    margin:8px;
} */

.book2{
    margin-left: 32%;
    padding:20px;
}
.package{
    display:flex;
    
}
.aaa{
    width:20%;
}
 .nav-mobile{
    display: none;
    flex-direction: column;
    position: absolute;
 top: 2.5rem;
 left: 0;
 background: #222831;
 z-index: 1;
 width: 200px; 
    
}
.nav-mobile a {
    color: #fff;
    padding: 1rem 1.5rem;
    display: block;
   
   }
.checkbtn{
    display: none;
    font-size: 30px;
 /* color: white; */
 cursor: pointer;
 
} 
#check:checked ~ .nav-mobile {

    display: block;
   
   }
   .bi-list{
   
    color:rgba(0, 0, 0, 0.843);
   }
   .w3-animate-right{
    animation: animateleft 0.5s ease-out;
   }
   .hamburger{
    display:none;
   }
   #check{display: none;}



@media(max-width:480px){
    .top{position: relative;}
    .flex{flex-direction: column;}
    .left{width: 100%; text-align: center;}
    .nav{display:none;}
    .grid{grid-template-columns: 1fr;}
    /* .grid2{grid-template-columns: 2fr;} */
    
    .center{font-size: 16px; }
    
    .p{font-size: 15px; line-height: 1;}
    .btn{display: none;}
    #logo{left: 20px;}
    .mid{flex-direction: column;}
    .mid1{width:100%; border:none;}
    
    .mid2{Width:100% ;border:none;line-height: 1.2;text-align: left; }
    .mid3{width:100%;border:none; line-height:1.2;padding:3px;}
    .w-100{width:100%;}
    .w-101{width:100%;}
    .w-106{width: 100%;
    display:flex;}
     /* .w-1{align-items: start;}  */
    .box1{width:100%;height:auto;}
    
    
    .p1{font-size: 15px;line-height: 1;}
    .box{width:300px;margin:auto;}
    .data{width:100px;margin: 7px;}
    .conn{font-size: 17px;}
    form{width: 200px;}
    .info{width:400px;margin: 20;}
#check{display: none;}
    .checkbtn {
        display: block;
         font-size: 2rem;
        position: absolute;
        float:left;
        top: 107px;
        right: 341px; 
        }
        
        .nav-mobile {
            top:145px;
            right: 276px;
            width: 148px;
            height: 260px;
            }
           .nav-mobile a {
            font-size: 1rem;
            padding: 1rem 1rem;

            }
            .hamburger{display:flex;
                align-items: center;} 
                .home-image img{
                    width:100%;
                    height:auto;
                    border-radius: 0;
                }
                .foooter{display: block;}
}
 @media(min-width:480px) and (max-width:780px){
    .flex{display:flex;}
} 